---
import Posts from "@components/latest-posts.astro";
import BaseLayout from "@layouts/base-layout.astro";
import Notes from "@components/recent-notes.astro";
import { siteConfig } from "@site-config";
---

<BaseLayout
  title={`Home · ${siteConfig.siteTitle}`}
  description=`Welcome to my personal webpage and blog! I'm a senior ${siteConfig.jobTitle} in modern web technologies. Explore my thoughts, projects, and experiences in software development.`
>
  <section>
    <header>
      <h1 class="font-semibold text-2xl mb-6">
        Hey There<span class="animate-blink">|</span>
      </h1>
    </header>
    <p class="mb-4 text-xs">
      My name is {siteConfig.authorName} and I'm a <span
        class="secondary font-bold">{siteConfig.jobTitle}</span
      > with over 10 years of experience, driven by the motto 'Never stop learning.'
      This philosophy fuels my passion for web development, inspiring me to grow
      and improve every day. I’m always open to new challenges and opportunities,
      so feel free to reach out if you think I can contribute to your project or
      company.
    </p>
    <div class="flex flex-wrap items-end gap-x-2 text-xs">
      <p class="mb-4">
        I'm based in Madrid/Spain, but you can easily reach me online via email
        or social media. My email is <span class="primary italic text-xs"
          >{`${siteConfig.obfuscatedEmail}`}</span
        >. You can connect with me on <a
          class="primary-link"
          aria-label={`Navigate to Linkedin profile`}
          href={siteConfig.socialLinks.linkedin}>LinkedIn</a
        >, explore my code on <a
          class="primary-link"
          href={siteConfig.socialLinks.github}
          aria-label={`Navigate to GitHub profile`}>GitHub</a
        >, or read my thoughts on <a
          class="primary-link"
          href={siteConfig.socialLinks.x}
          aria-label={`Navigate to X profile`}>X</a
        >.
      </p>
      <p class="text-xs">
        In some places, I am also known as {siteConfig.nickname}
      </p>
    </div>
  </section>
  <Posts />
  <Notes />
</BaseLayout>
