---
import BaseLayout from "@layouts/base-layout.astro";
import { calculateDuration } from "@utils/date";
import { getAllWorkExperiences, getWorkExperienceYears } from "@utils/resume";
import { siteConfig } from "@site-config";

const work_experience = await getAllWorkExperiences();
const years = await getWorkExperienceYears();
---

<BaseLayout
  title={`Resume · ${siteConfig.siteTitle}`}
  description={`Explore the professional profile of ${siteConfig.authorName}, a Senior ${siteConfig.jobTitle} specializing in Javascript and modern web technologies. Discover his career journey, key projects, and contributions to enterprise software development. Connect with ${siteConfig.authorName} and enhance your team with his expertise!`}
>
  <section>
    <header>
      <h2 class="font-semibold text-2xl mb-6 pb-2">
        Resume
        <span class="text-xs text-gray-400 block">
          ({calculateDuration(years.start, years.end)})
        </span>
      </h2>
    </header>
    <ol>
      {
        work_experience.map((experience) => (
          <li class="mb-10">
            <time class="mb-1 text-xs text-gray-400">
              {`${experience.start_date} – ${experience.end_date} (${calculateDuration(experience.start_date, experience.end_date)})`}
            </time>
            <h3 class="text-xl font-semibold secondary">
              <span>{experience.position}</span>
              <span class="text-gray-400 text-sm">at</span>
              <a
                href={experience.company_url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-400 hover:underline hover:text-yellow-100 transition-colors duration-200"
              >
                @{experience.company}
              </a>
            </h3>
            <p class="text-sm text-yellow-500 mb-1">{experience.location}</p>
            <p class="text-xs text-white mb-2">{experience.description}</p>
            <ul class="list-disc ms-4 text-gray-400 pl-4">
              {experience.responsibilities.map((responsibility) => (
                <li class="mb-2 text-xs">{responsibility}</li>
              ))}
            </ul>
          </li>
        ))
      }
    </ol>
  </section>
</BaseLayout>
