---
import type { Note } from "@types";
import { getLatestNote } from "@utils/note";

const latestNote: Note | null = await getLatestNote();
---

<section id="post-section" class="mt-12">
  <header class="mb-5">
    <h2 class="font-bold primary text-xl">Notes</h2>
  </header>

  {
    latestNote && (
      <a href={`/notes/${latestNote.slug}`} class="block">
        <article class="inline-grid rounded-md bg-white dark:bg-gray-800 px-4 py-3 group border border-transparent transition-all duration-200 hover:shadow-lg cursor-pointer w-full">
          <h3 class="title text-base">
            <span class="text-vscode-primary">{latestNote.title}</span>
          </h3>
          <time
            datetime={latestNote.publishDate}
            title={latestNote.publishDate}
            class="text-sm text-vscode-secondary"
          >
            {new Date(latestNote.publishDate).toLocaleString("es-ES", {
              dateStyle: "short",
              timeStyle: "short",
            })}
          </time>
          <div class="prose prose-sm mt-4 max-w-none line-clamp-3 text-white">
            <p>{latestNote.description}</p>
          </div>
        </article>
      </a>
    )
  }
</section>
